<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="'UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}NEXABYTE{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    fontFamily: {
                        sans: ['-app-system', 'BlinkMacSystemFont', 'SF Pro Display', 'Segoe UI', 'sans-serif'],
                    }
                }
            }
        }
    </script>
</head>

<body class="bg-white text-gray-900 font-sans antialiased">

    <!--NAVBAR-->
    <nav class="border-b boder-gray-200 bg-white/80 backdrop-blur-md sticky top-0 z-50">
        <div class="max-w-7xl mx-auto px-6 py-4 flex items-center justify-between">

            <!-- Logo -->
            <a href="{{ url_for('dashboard.index') }}" class="text-xl font-semibold tracking-tight text-gray-900">
                NEXABYTE
            </a>

            <!-- Nav links -->
            <div class="flex items-center gap-8">
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('dashboard.index') }}"
                    class="text-sm text-gray-600 hover:text-gray-900 transition-colors">
                    Dashboard</a>
                <a href="{{ url_for('products.index') }}"
                    class="text-sm text-gray-600 hover:text-gray-900 transition-colors">
                    Products</a>
                <a href="{{ url_for('products.add') }}"
                    class="text-sm text-gray-600 hover:text-gray-900 transition-colors">
                    Add Products</a>
                <div class="flex items-center gap-4">
                    <span class="text-sm text-gray-400">
                        {{ current_user.username }}
                    </span>
                    <a href="{{ url_for('auth.logout')}}"
                        class="text-sm bg-gray-900 text-white px-4 py-2 rounded-full hover:bg-gray-700 transition-colors">
                        Logout</a>
                </div>
                {% else %}
                <a href="{{ url_for('auth.login')}}"
                    class="text-sm bg-gray-900 text-white px-4 py-2 rounded-full hover:bg-gray-700 transition-colors">
                    Login</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <!-- FLASH MESSAGES -->
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    <div class="max-w-7xl mx-auto px-6 mt-4">
        {% for msg_category, message in messages %}
        <div class="flex items-center gap-3 px-4 py-3 rounded-xl mb-2
                        {% if msg_category == 'success' %}bg-green-50 text-green-800 border border-green-200
                        {% elif msg_category == 'error' %}bg-red-50 text-red-800 border border-red-200
                        {% else %}bg-blue-50 text-blue-800 border border-blue-200{% endif %}">
            <span>{{ message }}</span>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <!-- Main CONTENT -->
    <main class="max-w-7xl mx-auto px-6 py-8">
        {% block content %}{% endblock %}
    </main>

    <!-- FOOTER -->
    <footer class="border-t border-gray-100 mt-20">
        <div class="max-w-7xl mx-auto px-6 py-8 flex justify-between items-center">
            <span class="text-sm font-semibold text-gray-900">Nexabyte</span>
            <span class="text-sm text-gray-400">© 2026 All rights reserved.</span>
        </div>
    </footer>
</body>

</html>